<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Star Guardians</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
            <h2 class="home-title">This time, you’re not just watching the fight. You’re in it</h2>
            <p class="home-text">Star Guardians drops you straight into an active combat zone.<br/>No automated sequences. No passive progress.<br/>
            You take control of a Guardian — move, aim, fire, adapt.<br/>Everything happens fast, and if you mess up, you'll feel it
            immediately.</p>
            <a class="hero-link btn" href="#demo">
               <p>Begin Mission</p>
            </a>
        </div>
        <img class="bird" src="/img/hero/pic.png" alt="bird with robot" loading="lazy">
        <img class="down" src="/img/hero/down.png" alt="down" loading="lazy">
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <img class="disclaimer-img" src="/img/disclaimer/disclaimer.png" alt="disclaimer" loading="lazy">
        <p class="disclaimer-text">fluxeno.online IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION
        OF REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Play</h2>

        <div class="demo-wrapper" id="game">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="demo-img" src="/img/demo/demo-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
            <a class="demo-btn btn pulse" href="#"
                data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/xdemon" target="gameIframe">
               <p><p>Begin Mission</p></p>
            </a>
        </div>

    </div>
</section>
<section class="battle-section" id="battle">
    <div class="container battle-container">
        <div class="battle-wrapper">
        <h2 class="battle-title">THE BATTLEFIELD</h2>
        <p class="battle-text">The action takes place in hostile environments overrun by Tritons — mutated alien creatures that swarm, adapt, and
        overwhelm.<br/>
        The whole place is constantly moving - you've got:</p>
        <ul class="battle-list">
            <li class="battle-item">
                <p>enemies move unpredictably</p>
            </li>
            <li class="battle-item">
                <p>objects react to fire</p>
            </li>
            <li class="battle-item">
                <p>visual effects respond to combat intensity</p>
            </li>
        </ul>
        <p class="pink">You’re not on rails.<br/>
        You’re dropped into chaos and expected to survive.</p>
    </div>
</div>
</section>