<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Star Guardians</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
            <h2 class="home-title">This time, you’re not just watching the fight. You’re in it</h2>
            <p class="home-text">Star Guardians drops you straight into an active combat zone.<br/>No automated sequences. No passive progress.<br/>
            You take control of a Guardian — move, aim, fire, adapt.<br/>Everything happens fast, and if you mess up, you'll feel it
            immediately.</p>
            <a class="hero-link btn" href="#demo">
               <p>Begin Mission</p>
            </a>
        </div>

    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <img class="disclaimer-img" src="/img/disclaimer/disclaimer.png" alt="disclaimer" loading="lazy">
        <p class="disclaimer-text">fluxeno.online IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION
        OF REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Play</h2>

        <div class="demo-wrapper" id="game">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="demo-img" src="/img/demo/demo-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
            <a class="demo-btn btn pulse" href="#"
                data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/xdemon" target="gameIframe">
               <p><p>Begin Mission</p></p>
            </a>
        </div>

    </div>
</section>
<section class="battle-section" id="battle">
    <div class="container battle-container">
        <div class="battle-wrapper">
        <h2 class="battle-title">THE BATTLEFIELD</h2>
        <p class="battle-text">The action takes place in hostile environments overrun by Tritons — mutated alien creatures that swarm, adapt, and
        overwhelm.<br/>
        The whole place is constantly moving - you've got:</p>
        <ul class="battle-list">
            <li class="battle-item">
                <p>enemies move unpredictably</p>
            </li>
            <li class="battle-item">
                <p>objects react to fire</p>
            </li>
            <li class="battle-item">
                <p>visual effects respond to combat intensity</p>
            </li>
        </ul>
        <p class="pink">You’re not on rails.<br/>
        You’re dropped into chaos and expected to survive.</p>
    </div>
</div>
</section>
<section class="manual-section" id="manual">
    <div class="section-inner">
    <div class="container manual-container">
        <div class="manual-wrapper">
            <h2 class="manual-title">MANUAL CONTROL SYSTEM</h2>
            <p class="manual-text">You Control Everything <br/>
            Star Guardians is built around<br class="mob"/> direct input.</p>
            <ul class="battle-list manual-list">
                <li class="battle-item manual-item">
                    <p>move freely across the field</p>
                </li>
                <li class="battle-item manual-item">
                    <p>aim and shoot manually</p>
                </li>
                <li class="battle-item manual-item">
                    <p>reposition under pressure</p>
                </li>
                <li class="battle-item manual-item">
                    <p>react instantly to threats</p>
                </li>
            </ul>
            <p class="pink manual-pink">This is not automated gameplay.<br/>Your hands decide what happens next.</p>
        </div>
    </div>
</div>
</section>
<section class="enemy-section" id="enemy">
    <div class="container enemy-container">
        <h2 class="enemy-title pink">THE ENEMY: TRITONS</h2>
        <p class="enemy-text">An Unrelenting Swarm</p>
        <ul class="enemy-list">
            <li class="enemy-item">
                <img src="/img/enemy/one.png" alt="monster spider" loading="lazy">
                <p>Tritons are not<br class="desk" /> background targets.<br/>They rush, surround, and force movement.</p>
            </li>
            <li class="enemy-item center-item">
                <img src="/img/enemy/two.png" alt="monster spider" loading="lazy">
                <p>Some drop resources mid-combat, others guard key zones.<br/>At the center of the invasion stands the Queen — massive,
                aggressive, and unforgiving.</p>
            </li>
            <li class="enemy-item">
                <img src="/img/enemy/three.png" alt="monster spider" loading="lazy">
                <p>These aren't just target practice dummies - they'll<br class="desk"/> actually try to kill you.</p>
            </li>
        </ul>
    </div>
</section>
<section class="guardians-section" id="guardians">
    <div class="container guardians-container">
        <h2 class="guardians-title pink">THE GUARDIANS</h2>
        <p class="guardians-text">Three Fighters. Three Approaches.<br/>
        You can switch Guardians even during play, adapting to the situation.</p>
        <div class="swiper guardians-swiper">
            <div class="swiper-wrapper">
        
         <div class="swiper-slide">
            <picture>
                <source srcset="
                 /img/guardians/one-desk.png 1x,
                 /img/guardians/one-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                 /img/guardians/one-mob.png 1x,
                 /img/guardians/one-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="guardians-img" src="/img/guardians/one-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
           </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                         /img/guardians/two-desk.png 1x,
                         /img/guardians/two-desk@2x.png 2x
                           " media="(min-width: 1440px)" />
                <source srcset="
                         /img/guardians/two-mob.png 1x,
                         /img/guardians/two-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="guardians-img" src="/img/guardians/two-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                         /img/guardians/three-desk.png 1x,
                         /img/guardians/three-desk@2x.png 2x
                           " media="(min-width: 1440px)" />
                <source srcset="
                         /img/guardians/three-mob.png 1x,
                         /img/guardians/three-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="guardians-img" src="/img/guardians/three-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                         /img/guardians/four-desk.png 1x,
                         /img/guardians/four-desk@2x.png 2x
                           " media="(min-width: 1440px)" />
                <source srcset="
                         /img/guardians/four-mob.png 1x,
                         /img/guardians/four-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="guardians-img" src="/img/guardians/four-mob.png" alt="Star Guardians" loading="lazy" />
            </picture>
        </div>
            </div>
        <div class="btn-wrapper">
            <!-- Кнопки поверх -->
            <button class="guardians-prev guardians-arrow">
                <img class="arrow left" src="/img/guardians/left.png" alt="arrow left">
            </button>
            <button class="guardians-next guardians-arrow">
                <img class="arrow right" src="/img/guardians/right.png" alt="arrow right">
            </button>
        </div>
        </div>
    </div>
</section>
<section class="visual-section" id="visual">
    <div class="container visual-container">
        <h2 class="visual-title pink">VISUAL & AUDIO STYLE</h2>
        <p class="visual-text">Built Like a Shooter, Not a Menu</p>
        <ul class="visual-list">
            <li class="visual-item">
                <p>third-person camera perspective</p>
            </li>
            <li class="visual-item">
                <p>cinematic lighting and explosions</p>
            </li>
            <li class="visual-item">
                <p>responsive hit effects</p>
            </li>
            <li class="visual-item">
                <p>heavy weapon sound design</p>
            </li>
            <li class="visual-item last">
                <p>UI that stays out of the<br class="mob"/>
                way during combat</p>
            </li>
        </ul>
    </div>
</section>