body{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
h2{
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #4dfff6;
    text-transform: uppercase;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.pink{
  color: #db2da2;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 42px;
border-radius: 15px;
  width: 330px;
  height: 76px;
    background: #db2da2;
    font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
}