/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 35px 10px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 58px 140px;
  }

}