.footer {
backdrop-filter: blur(4px);
  background: #130117;
}
.footer-container{
  padding: 77px 45px;
}
.footer-navigation{
  margin-top: 36px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  color: #00ffd9;
  font-weight: 900;
}
.footer-text{
  font-size: 10px;
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding: 12px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-navigation{
margin: 0 43px 0 100px;
flex-direction: row;
gap: 43px;
  }
}