.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.home-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}
.home-title{
    margin-top: 30px;
    font-size: 32px;
  margin-bottom: 16px;
}
.home-text{
    line-height: 1.2;
    margin-bottom: 20px;
}
.home-container{
    position: relative;
    padding-bottom: 440px;
}
.bird{
    position: absolute;
    bottom: -13%;
    left:0;
}
.down{
    position: absolute;
        bottom: -13%;
        left: 0;
        z-index: 1;
}
@media only screen and (min-width: 1440px) {
.home-section {
        background-image: url("/img/hero/desk.png");

    }
.bird,
.down{
    display: none;
}
.home-container{
    padding-bottom: 108px;
    padding-right: 140px;
}
.home-wrapper{
    margin-right: 0;
    margin-left: auto;
    width: 628px;
    margin-top: 100px;
}
.home-title{
    margin-bottom: 50px;
}
.home-text{
    margin-bottom: 50px;
}
}
/* Disclaimer */
.disclaimer-container{
    position: relative;
   padding: 150px 30px;
    margin-top: 180px;
    border-radius: 50px;
        width: 375px;

        background: #008ffa;
}
.disclaimer-img{
    position: absolute;
right: 0;
    z-index: 2;
    top: -32%;
}
.disclaimer-text{
        line-height: 1.5;
        color: #00ffd9;
}
@media only screen and (min-width: 1440px) {
 .disclaimer-container{
    width: 1284px;
    padding: 53px 436px 53px 68px;
    margin-top: 20px;
 }
 .disclaimer-img {
    position: absolute;
    right: 4%;
    z-index: 2;
    top: -51%;
}
}