@import url('./styles.css');



.background {
    text-align: left;
background: #000;
}

.privacy-container {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
}


.privacy-title {
    font-size: 40px;
    text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-text {
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.policy-subtitle {
font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-skip-ink: none;
color: #00ffd9;
}

.text {
    margin-top: 20px;
}

.mail-link {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #00ffd9;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-container {
        padding-top: 140px;
        padding-left: 190px;
        padding-right: 190px;
    }

}